<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <button id="connection"> <a href="/login">connexion</a></button>
    </div><br>
    <div>
        <button id="inscription"> <a href="/register">inscription</a></button>
    </div>

     <div>
        <button id="inscription"> <a href="/logout">deconnection</a></button>
    </div>
        
    </div>
</body>
</html>