<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <form action="" method="post" id="inscription">
        <h1>Inscrivez-vous</h1>
        <div>
            <label for="name">Votre nom</label><br>
            <input type="name" id="name" name="name" placeholder="Veillez entrer votre nom svp." required>
        </div><br>
        <div>
            <label for="email">Votre e-mail</label><br>
            <input type="email" id="email" name="email" placeholder="Veillez entrer votre email svp." required>
        </div><br>
        <div>
            <label for="password">Votre mot de passe</label><br>
            <input type="password" id="password" name="password" placeholder="veillez entrer votre mot de passe svp." required>
        </div><br>
        <div>
            <button type="submit">Valider</button>
        </div>
    </form>
</body>

</html>